.welcomebox{
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 18px 38px;
    background-color:#b3a3c0c5;
}

.welcomebox__p{
    padding: 20px;
}