<div class="component-box">
<section class="component-box__card" *ngFor="let monster of monsters">
    <img class="component-box__img" src="{{ monster.img }}">
    <div class="component-box__text">
    <h2 class="component-box__title">{{ monster.name }}</h2>
    <p>Health Points: {{ monster.health }}</p>
    <p>Loot: </p>
    <ul *ngFor="let loot of monster.loots">

        <li> {{loot}} </li>
    </ul>
    <p>Experience: {{ monster.experience }}</p>
    <p>Location: This monster lives in {{monster.locationDetail.cave}} and has a climate {{monster.locationDetail.weather}}, it is <strong>{{monster.locationDetail.secondCave}}</strong> that has a second cave at present.</p>
    </div>
</section>
</div>