.component-box {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px;

    &__card {
        flex-basis: 28%;
        background-color: #debb9d;
        margin: 130px 5px 5px 5px;
        padding: 70px 10px 10px 10px;
        position: relative;
        border-radius: 20px;
    }

    &__img {
        min-width: 150px;
        position: absolute;
        left: 90px;
        top: -80px;
    }
    &__title {
        text-align: center;
    }

    &__text {
        color: #051122;
        background-color: rgba(128, 128, 128, 0.534);
        border-radius: 20px;
        padding: 10px;
    }
}